* {
  box-sizing: border-box;
}
h1 {
  color: #fff;
  text-shadow: 2px 2px 5px #000;
  text-align: center;
  display: block;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;

}

h2 {
  color: #fff;
  text-shadow: 2px 2px 5px #000;
  display: block;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;

}

p {
  color: #fff;
  display: block;
  font-family: 'Open Sans', sans-serif;
}

.polaroid {
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.polaroid:hover {
  width: 500px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.15);
}

.container {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  text-decoration:none;
}
.container-text{
  color: #fff;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: large;
  font-weight: bold;
}

.column {
  float: left;
  width: 33%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1560px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1180px) {
  .column {
    width: 100%;
  }
}

/*
.column {
  flex: 50%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
*/
