h1 {
  color: #fff;
  text-shadow: 2px 2px 5px #000;
  text-align: center;
  display: block;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;

}

ol{
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

ul {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

p {
  color: #fff;
  display: block;
  font-family: 'Open Sans', sans-serif;

}
