* {
  margin:0px;
  padding:0px;
}
h1 {
  text-align: center;
  display: block;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;

}

p {
  display: block;
  font-family: 'Open Sans', sans-serif;

}
